
@import 'normalize';
@import 'jeet';
@import 'rupture';

//GLOBAL styles
@import 'general/colors';
@import 'general/functions';
@import 'general/variables';

@import 'components/sitewide/defaultify';

@import 'components/global/header';
@import 'components/global/content';
@import 'components/global/footer';

// edit();