.footer {
	@extend .header;
}

.footer__company,
.footer__contact {
	col(1/2);
}

.footer__company__title,
.footer__company__address,
.footer__contact__title,
.footer__contact__number,
.footer__contact__mail {
	col(1/1);
}