<footer class="footer">
	<div class="footer__company">
		<span class="footer__company__title">
			Title Something
		</span>
		<span class="footer__company__address">
			Address Something<br />
			274 34 Skurup
		</span>
	</div>
	<div class="footer__contact">
		<span class="footer__contact__title">Contact title</span>
		<span class="footer__contact__number"Number 0123456789</span>
		<a class="footer__contact__mail" href="/contact">email email@address.org</a>
	</div>
</footer>