$general-black=		#000;
$general-grey=		#444;
$general-white=		#fff;

$text-black=			$general-black;
$text-grey=				$general-grey;
$text-white=			$general-white;

$surface-black=		$general-black;
$surface-grey=		$general-grey;
$surface-white=		$general-white;