//Rupture settings
base-font-size = 16px;
rupture.enable-em-breakpoints = true;
rupture.scale = 0 30em 40em 50em 60em 70em 80em;

jeet.gutter = 1;

$font-size--body = base-font-size;

$font-size--xs =      -px2em(10px, $font-size--body);
$font-size--s =       -px2em(12px, $font-size--body);
$font-size--m =       -px2em(14px, $font-size--body);
$font-size--l =       -px2em(16px, $font-size--body);
$font-size--xl =      -px2em(18px, $font-size--body);
$font-size--xxl =     -px2em(20px, $font-size--body);
$font-size--xxxl =    -px2em(24px, $font-size--body);
$font-size--xxxxl =   -px2em(30px, $font-size--body);

$screen =						1; // 0px
$smaller-screen =		2; // 480px
$small-screen =			3; // 640px
$smallish-screen =	4; // 768px
$medium-screen =		5; // 960px
$large-screen =			6; // 1280px
$larger-screen =		7; // 1440px

$space-default = 12px;
$space-small =   24px;
$space-medium =  36px;
$space-large =   60px;